
@model MvcProject.Models.ViewModels.ListCartItemsViewModel

@{
    ViewBag.Title = "ListMyCartItems";
}

<h2>ListMyCartItems</h2>
<hr />

@using (Html.BeginForm("UpdateMyCart", "Customer", FormMethod.Post))
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Sub Price</th>
                <th><button type="submit" class="btn btn-primary">Submit Update</button></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model.CartItems)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@Html.TextBox("amounts", item.Amount,new { @class = "form-control" })</td>
                        <td>@item.Price.ToString("C2")</td>
                        <td>@item.SubPrice.ToString("C2")</td>
                        <td>@Html.ActionLink("Delete", "DeleteMyCart", new { id = item.ID }, new { @class = "btn btn-xs btn-danger" })</td>
                    </tr>
                }
                <tr>
                    <td><h2>Total Price</h2></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><h2>@Model.TotalPrice.ToString("C2")</h2></td>
                </tr>
            }
        </tbody>
    </table>
}
